# Leser inn dataframes laget i Pyspark og kobler disse

In [1]:
import dapla as dp
import pandas as pd

#### Leser inn STRUCT-data og sorterer

In [6]:
df_struct = dp.read_pandas('/produkt/skatt/naering/temp/parquet_demo/balanse_struct')
df_struct=df_struct.sort_values(by=['norskIdentifikator'])
df_struct

,norskIdentifikator,sumAnleggsmiddelSkattemessigVerdi,sumAnleggsmiddelRegnskapsmessigVerdi,sumOmloepsmiddelSkattemessigVerdi,sumOmloepsmiddelRegnskapsmessigVerdi
56555,1000000001,103.0,69257.0,51372.0,74879.0
38077,1000000002,34576.0,93665.0,95387.0,56048.0
84123,1000000003,64228.0,71899.0,54070.0,59470.0
45598,1000000004,66903.0,97027.0,81644.0,20112.0
94111,1000000005,51454.0,54767.0,10262.0,93585.0
...,...,...,...,...,...
38502,1000099996,65404.0,19744.0,41272.0,98975.0
14419,1000099997,15458.0,32936.0,59979.0,59717.0
43032,1000099998,47097.0,79000.0,14580.0,21214.0
34172,1000099999,95535.0,8456.0,67160.0,2611.0
10134,1000100000,38478.0,38099.0,75473.0,84667.0

#### Lester inn ARRAY-data og sorterer

In [7]:
df_array = dp.read_pandas('/produkt/skatt/naering/temp/parquet_demo/balanse_array')
df_array = df_array.sort_values(by=['norskIdentifikator','id'])
df_array

,norskIdentifikator,id,anleggsmiddeltype,balanseverdiForAnleggsmiddel_skattemessigVerdi,balanseverdiForAnleggsmiddel_regnskapsmessigVerdi,overfoeresIkkeTilSkattemeldingen
93622,1000000002,id_2_0,1130,21610.0,24512.0,None
59819,1000000002,id_2_1,1117,70829.0,72071.0,None
40819,1000000003,id_3_0,1221,32746.0,49578.0,None
55183,1000000003,id_3_1,1221,31348.0,98614.0,None
34113,1000000003,id_3_2,1312,30939.0,82373.0,True
...,...,...,...,...,...,...
57848,1000099998,id_99998_0,1150,97192.0,98290.0,None
150625,1000099998,id_99998_1,1239,1164.0,13980.0,None
89038,1000099998,id_99998_2,1340,74574.0,51346.0,None
104690,1000099999,id_99999_0,1296,9410.0,72885.0,True
38889,1000100000,id_100000_0,1280,35591.0,82618.0,False

#### Summerer på variabler på 'norskIdentifikator'

In [10]:
sum_variabler=['balanseverdiForAnleggsmiddel_skattemessigVerdi','balanseverdiForAnleggsmiddel_regnskapsmessigVerdi']
df_array_agg = df_array.groupby('norskIdentifikator')[sum_variabler].sum() 
df_array_agg

,balanseverdiForAnleggsmiddel_skattemessigVerdi,balanseverdiForAnleggsmiddel_regnskapsmessigVerdi
norskIdentifikator,,
1000000002,92439.0,96583.0
1000000003,95033.0,230565.0
1000000004,193095.0,127066.0
1000000005,40292.0,1816.0
1000000006,38578.0,26314.0
...,...,...
1000099996,15335.0,101102.0
1000099997,148474.0,158216.0
1000099998,172930.0,163616.0
1000099999,9410.0,72885.0
1000100000,35591.0,82618.0

#### Kobler STRUCT og ARRAY

In [11]:
df_koblet = pd.merge(df_struct, df_array_agg, on='norskIdentifikator', how='outer')
df_koblet

,norskIdentifikator,sumAnleggsmiddelSkattemessigVerdi,sumAnleggsmiddelRegnskapsmessigVerdi,sumOmloepsmiddelSkattemessigVerdi,sumOmloepsmiddelRegnskapsmessigVerdi,balanseverdiForAnleggsmiddel_skattemessigVerdi,balanseverdiForAnleggsmiddel_regnskapsmessigVerdi
0,1000000001,103.0,69257.0,51372.0,74879.0,NaN,NaN
1,1000000002,34576.0,93665.0,95387.0,56048.0,92439.0,96583.0
2,1000000003,64228.0,71899.0,54070.0,59470.0,95033.0,230565.0
3,1000000004,66903.0,97027.0,81644.0,20112.0,193095.0,127066.0
4,1000000005,51454.0,54767.0,10262.0,93585.0,40292.0,1816.0
...,...,...,...,...,...,...,...
99995,1000099996,65404.0,19744.0,41272.0,98975.0,15335.0,101102.0
99996,1000099997,15458.0,32936.0,59979.0,59717.0,148474.0,158216.0
99997,1000099998,47097.0,79000.0,14580.0,21214.0,172930.0,163616.0
99998,1000099999,95535.0,8456.0,67160.0,2611.0,9410.0,72885.0
99999,1000100000,38478.0,38099.0,75473.0,84667.0,35591.0,82618.0